.fa {
	padding: 2px;
	font-size: 10px;
	text-align: center;
	text-decoration: none;
	margin: 5px 5px;
	border-radius: 30%;
}

.fa-facebook {
	border: 1px;
	border-style: solid;
	border-color: #293e5a;
	width: 20px;
	background: #3B5998;
	color: white;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
  }

.fa-instagram {
    border: 1px;
    border-style: solid;
    border-color: #293e5a;
	background: #125688;
	color: white;
}

.fa-pinterest {
    border: 1px;
    border-style: solid;
    border-color: #293e5a;
    background: #cb2027;
    color: white;
}

.fa-snapchat-ghost {
    border: 1px;
    border-style: solid;
    border-color: #293e5a;
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-tumblr {
    border: 1px;
    border-style: solid;
    border-color: #293e5a;
	background: #2c4762;
	color: white;
}

.fa-flickr {
    border: 1px;
    border-style: solid;
    border-color: #293e5a;
	background: #f40083;
	color: white;
}

.fa-reddit {
    border: 1px;
    border-style: solid;
    border-color: #293e5a;
	background: #ff5700;
	color: white;
}