.label-admin {
    display: block;
    text-align: right;
	margin: 5% 10% 0 0;
	font-family: Georgia, 'Times New Roman', Times, serif;
	background-color: #c2b37c;
	color: #1d2c3f;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-right: 2%;
	border-radius: 5px;
}
.label-admin input {
	margin: 0 5% 0 5%;
	border-radius: 5px;
	width: 25%;
}

.btn-success {
	background-color: #1d2c3f;
	border: 2px solid #615b5b;
	color: #f8df79;
}