body {
	margin: 0 auto;
}
.navi_bar {
	
	background: #1d2c3f;
	color: white;
	width: 100%;
	height: 20%;

	border-bottom: solid #293e5a;
}
.iconBar {
	position: relative;
}

.homeIcon {
	border: none;
	border-right: solid #293e5a;

	background: none;
	position: relative;
	left: 0px;
	top: 0px;
	width: 5%;
	height: 5%;
}

.wTit {
	font-size: 200%;
}

#txt {
	color: white;
}

.HomeIcon {
	width: 100%;
}

.logIcon {
	border: none;
	border-right: solid #293e5a;

	background: none;
	position: absolute;
	right: 0%;
	top: 5%;
	width: 5%;
	height: 10%;
}
button:focus {outline:0;}