body {
	margin: 0 auto;
}
.navi_bar {
	
	background: #1d2c3f;
	color: white;
	width: 100%;
	height: 20%;
	top: 2%;
	border-bottom: solid #293e5a;
}


.homeIcon {
	border: none;
	border-right: solid #293e5a;
	
	background: none;
	position: absolute;

	width: 5%;
	height: 5%;
	top: 1%;
	
}

.wTit {
	font-size: 200%;
}

#txt {
	color: white;
}

.HomeIcon {
	width: 100%;
}

.logIcon {
	border: none;
	border-right: solid #293e5a;

	background: none;
	position: absolute;
	right: 0%;
	top: 2%;
	width: 5%;
	height: 10%;
}

.field {
	color: white;
	background-color: #293e5a;
	border: none; 
}

#table_filter {
	border-radius: 5px;
	margin: 2%;
}

#searchBtn {
	position: relative;
	margin-top: 5%;
	background-color: #293e5a!important;
}

.label-icon{
	position: relative;
	right: 6%;
}
button:focus {outline:0;}