
.navi_bar {
	
	background: #1d2c3f;
	color: white;
	width: 100%;
	height: 20%;

	border-bottom: solid #293e5a;
}

.naviIcon {
	border: none;
	border-right: solid #293e5a;

	background: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 5%;
	height: 5%;
}

.HomeIcon {
	width: 100%;
}

button:focus {outline:0;}