.restaurant {
	margin-top: 5px;
	margin: 1% auto;
	height: 150px;
	width: 70%;
	width: 60vmax;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	color: rgb(3, 31, 56);
	background: #fcf9fc;
}

.restaurant_photo {
	top: 10px;
	width: 115px;
	height: 115px;

	margin: 15px 15px 15px;

	position: relative;

	border-style: solid;
	border-color: rgb(211, 186, 47);
}

.restaurantHeader {
	position: relative;
	left: 150px;
	top: -130px;

	width: 70%;


	border-style: solid;
	border-color: rgb(4, 0, 255);
}

.restaurantInfo {
	position: relative;
	left: 150px;
	top: -140px;

	width: 70%;


	border-style: solid;
	border-color: rgb(0, 255, 179);
}

.restaurantIcons {
	position: relative;
	left: 75%;
	top: -145px;

	width: 20%;
	height: 25px;


	border-style: solid;
	border-color: rgb(140, 0, 255);
}

.container-restaurants {
	display: block;
}

.restaurantPopup {
	position: fixed;
	margin: 3% auto;

	color: #ffffff;

	top: 100px;
	left: 8%;

	background: #fafafa;

	height: 70%;
	width: 80%;

	padding: 10px;

	border-radius: 18px;
	border-style: solid;
	border-color: #ebebeb;
}

.modal-content {
    background-color: #fafafa;
    border: none;
}

.restaurantGallery {
	height: 30vmax;
	width: 40vmax;
}

.restVideo {
	height: 90%;
	width: 100%;
}

.restPict {
	height: 90%;
	width: 100%;
}

.prev, .next {
	border-radius: 5px;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	font-weight: bold;
	font-size: 18px;
	user-select: none;
	background-color: rgba(226, 226, 226, 0.288);
}
  
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: rgba(226, 226, 226, 0.733);
}