.restaurant {
	width: 80%;
	height: 10%;
	margin: 3% auto;
	position: relative;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

	border-color: rgb(103, 140, 151);
	border-style: solid;
}

.rest_picture {
	object-fit: contain;
	/* width: 20%; */
	/* height: 100%; */
	border-color: red;
	border-style: solid;
	padding: 3%;
}
